.landingContent {
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.landingContent h1 {
  font-weight: bold;
}
.content {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.landingImage {
}
